
<!DOCTYPE html>
<html>
    <head>
        <title>CGF Training Tools - Library</title>
        <!----<link rel="stylesheet" href="Put your css files here" type="text/css">  --->
    </head>
    <body>
        <header>
        <div id="header_wrapper">
            <!---fill in the source image files src="#"-->
            <h1 id="cgf_logo"><img src="#" width="280px" height="190px"/>
            <ul id="breadcrumb_nav">
                <li id="library_nav"><a href="#" class="library">Library</a></li> >
            </ul>
            <ul id="top_nav">
                <li id="settings_nav"><a href="#" class="settings">Settings</a></li>
                <li id="logout_nav"><a href="#" class="logout">Logout</a></li>
            </ul>
        </div>
        </header>
        
      
        <div id="top_container">
            <h2>Library</h2>
            <div class="library_sections">
                <div class="sections">
                    <!---fill in the source pages onclick="#"-->
                    <div class= "pre-training_section">
                        <h3>Pre-training</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet augue sed nisl consectetur posuere. Praesent interdum quam id lectus consectetur vel aliquam odio dictum. Nunc quis molestie nunc. Curabitur vel justo vitae tortor sodales vestibulum.</p>
                        <p><input type="button" value="Open Section" onclick="#"/></p>
                    </div>
                    <div class="training_section">
                        <h3>Training</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet augue sed nisl consectetur posuere. Praesent interdum quam id lectus consectetur vel aliquam odio dictum. Nunc quis molestie nunc. Curabitur vel justo vitae tortor sodales vestibulum.</p>
                        <p><input type="button" value="Open Section" onclick="#"/></p>
                    </div>
                    <div class="post-training_section">
                        <h3>Post-training</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet augue sed nisl consectetur posuere. Praesent interdum quam id lectus consectetur vel aliquam odio dictum. Nunc quis molestie nunc. Curabitur vel justo vitae tortor sodales vestibulum.</p>
                        <p><input type="button" value="Open Section" onclick="#"/></p>
                    </div>
                </div>
                <div class=chapter_progress>
                    <div class="pre-training_section">
                        <h4>0/4 Chapters</h4>
                    </div>
                    <div class="training_section">
                        <h4>0/4 Chapters</h4>
                    </div>
                    <div class="post-training_section">
                        <h4>0/4 Chapters</h4>
                    </div>
                </div>
            </div>
        </div>
        <footer>
			<div id="footer_nav">
				<div id="footer_nav_wrapper">
					<ul>
					    <!-- fill in the source pages in href="#"-->
						<li><a href="#">Home</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</footer>
    </body>
</html>
