
<!DOCTYPE html>
<html>
    <head>
        <title>CGF Training Tools - Poverty Topic</title>
        <!----<link rel="stylesheet" href="Put your css files here" type="text/css">  --->
    </head>
    <body>
        <header>
        <div id="header_wrapper">
            <!---fill in the source image files src="#"-->
            <h1 id="cgf_logo"><img src="#" width="280px" height="190px"/>
            <ul id="breadcrumb_nav">
                <li id="library_nav"><a href="#" class="library">Library</a></li> > 
                <li id="pre-training_nav"><a href="#" class="pre-training">Pre-training</a></li>
                > Poverty
            </ul>
            <ul id="top_nav">
                <li id="settings_nav"><a href="#" class="settings">Settings</a></li>
                <li id="logout_nav"><a href="#" class="logout">Logout</a></li>
            </ul>
        </div>
        </header>
        
      
        <div id="top_container">
            <h2>Poverty</h2>
            <div class="poverty_pages">
                <div class="pages">
                    <!---fill in the source pages onclick="#"-->
                    <div class="what_poverty_page">
                        <h3>What does it mean to live in poverty?</h3>
                        <p><input type="button" value="Read" onclick="#"/></p>
                    </div>
                    <div class="who_is_poor_page">
                        <h3>Who is poor?</h3>               
                        <p><input type="button" value="Read" onclick="#"/></p>
                    </div>
                    <div class="is_there_common_culture_page">
                        <h3>Is there a common culture shared among Americans in poverty?</h3>                
                        <p><input type="button" value="Read" onclick="#"/></p>
                    </div>
                    <div class="who_lives_poverty_page">
                        <h3>Who lives in poverty in the USA?</h3>       
                        <p><input type="button" value="Read" onclick="#"/></p>
                    </div>
                </div>
            </div>
        </div>
        <footer>
			<div id="footer_nav">
				<div id="footer_nav_wrapper">
					<ul>
					    <!-- fill in the source pages in href="#"-->
						<li><a href="#">Home</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</footer>
    </body>
</html>
