<!DOCTYPE html>
<html>
    <head>
        <title>CGF Training Tools - Poverty Title Page 1</title>
        <!----<link rel="stylesheet" href="Put your css files here" type="text/css">  --->
    </head>
    <body>
        <header>
        <div id="header_wrapper">
            <!---fill in the source image files src="#"-->
            <h1 id="cgf_logo"><img src="#" width="280px" height="190px"/>
            <ul id="breadcrumb_nav">
                <li id="library_nav"><a href="#" class="library">Library</a></li> > 
                <li id="pre-training_nav"><a href="#" class="pre-training">Pre-training</a></li> >
                <li id="poverty_nav"><a href="#" class="poverty">Poverty</a></li> 
                > What does it mean to live in poverty?
            </ul>
            <ul id="top_nav">
                <li id="settings_nav"><a href="#" class="settings">Settings</a></li>
                <li id="logout_nav"><a href="#" class="logout">Logout</a></li>
            </ul>
        </div>
        </header>
        
      
        <div id="top_container">
            <h2>What does it mean to live in poverty?</h2>
            <div class="poverty_p1_columns">
                <div class="talkingheads_speech">
                    <!---fill in the img sources src="#"-->
                    <div class="adam_smith_speech">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet augue sed nisl consectetur posuere. Praesent interdum quam id lectus consectetur vel aliquam odio dictum. Nunc quis molestie nunc. Curabitur vel justo vitae tortor sodales vestibulum.</p>
                    </div>
                    <div class="adam_smith_image">
                        <img src="#" width="280px" height="190px" />
                        <h3>Adam Smith</h3>
                        <p>(Economist)</p>
                    </div>
                    <div class="amartya_sen_speech">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet augue sed nisl consectetur posuere. Praesent interdum quam id lectus consectetur vel aliquam odio dictum. Nunc quis molestie nunc. Curabitur vel justo vitae tortor sodales vestibulum.</p>
                    </div>
                    <div class="amartya_sen_image">
                        <img src="#" width="280px" height="190px" />
                        <h3>Amartya Sen</h3>
                        <p>(Policy maker)</p>
                    </div>
                    <div class="jay-z_speech">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet augue sed nisl consectetur posuere. Praesent interdum quam id lectus consectetur vel aliquam odio dictum. Nunc quis molestie nunc. Curabitur vel justo vitae tortor sodales vestibulum.</p>
                    </div>
                    <div class="jay-z_image">
                        <img src="#" width="280px" height="190px" />
                        <h3>Jay-Z</h3>
                        <p>(Singer and businessman)</p>
                    </div>
                </div>
                <div class="conclusion_paragraph">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet augue sed nisl consectetur posuere. Praesent interdum quam id lectus consectetur vel aliquam odio dictum. Nunc quis molestie nunc. Curabitur vel justo vitae tortor sodales vestibulum.</p>
                </div>
                <div class="resources_content">
                    <div class="resources">
                        <img src="#" width="50px" height="50px" />
                        <p>Resources</p>
                    </div>
                    <div class="resources_links">
                        <p><a href="#" class="link1">World Bank, Ch.2</a></p>
                        <p><a href="#" class="link2">Policy Textbook Company</a></p>
                    </div>
                </div>
            </div>
        </div>
        <footer>
			<div id="footer_nav">
				<div id="footer_nav_wrapper">
					<ul>
					    <!-- fill in the source pages in href="#"-->
						<li><a href="#">Home</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</footer>
    </body>
</html>
