<!DOCTYPE html>
<html>
    <head>
        <title>CGF Training Tools - Pre-training Section</title>
        <!----<link rel="stylesheet" href="Put your css files here" type="text/css">  --->
    </head>
    <body>
        <header>
        <div id="header_wrapper">
            <!---fill in the source image files src="#"-->
            <h1 id="cgf_logo"><img src="#" width="280px" height="190px"/>
            <ul id="breadcrumb_nav">
                <li id="library_nav"><a href="#" class="library">Library</a></li> > Pre-training
            </ul>
            <ul id="top_nav">
                <li id="settings_nav"><a href="#" class="settings">Settings</a></li>
                <li id="logout_nav"><a href="#" class="logout">Logout</a></li>
            </ul>
        </div>
        </header>
        
      
        <div id="top_container">
            <h2>Pre-training</h2>
            <div class="pre-training_topics">
                <div class="topics">
                    <!---fill in the source pages onclick="#"-->
                    <div class="econ_struc_topic">
                        <h3>Economic Structures</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet augue sed nisl consectetur posuere. Praesent interdum quam id lectus consectetur vel aliquam odio dictum. Nunc quis molestie nunc. Curabitur vel justo vitae tortor sodales vestibulum.</p>
                        <p><input type="button" value="Open Topic" onclick="#"/></p>
                    </div>
                    <div class="poverty_topic">
                        <h3>Poverty</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet augue sed nisl consectetur posuere. Praesent interdum quam id lectus consectetur vel aliquam odio dictum. Nunc quis molestie nunc. Curabitur vel justo vitae tortor sodales vestibulum.</p>
                        <p><input type="button" value="Open Topic" onclick="#"/></p>
                    </div>
                    <div class="microfinance_topic">
                        <h3>Microfinance</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet augue sed nisl consectetur posuere. Praesent interdum quam id lectus consectetur vel aliquam odio dictum. Nunc quis molestie nunc. Curabitur vel justo vitae tortor sodales vestibulum.</p>
                        <p><input type="button" value="Open Topic" onclick="#"/></p>
                    </div>
                    <div class="cgf_topic">
                        <h3>Capital Good Fund</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet augue sed nisl consectetur posuere. Praesent interdum quam id lectus consectetur vel aliquam odio dictum. Nunc quis molestie nunc. Curabitur vel justo vitae tortor sodales vestibulum.</p>
                        <p><input type="button" value="Open Topic" onclick="#"/></p>
                    </div>
                </div>
                <div class=chapter_progress>
                    <div class="econ_struc_topic">
                        <h4>0/4 Chapters</h4>
                    </div>
                    <div class="poverty_topic">
                        <h4>0/7 Chapters</h4>
                    </div>
                    <div class="microfinance_topic">
                        <h4>0/7 Chapters</h4>
                    </div>
                    <div class="cgf_topic">
                        <h4>0/7 Chapters</h4>
                    </div>
                </div>
            </div>
        </div>
        <footer>
			<div id="footer_nav">
				<div id="footer_nav_wrapper">
					<ul>
					    <!-- fill in the source pages in href="#"-->
						<li><a href="#">Home</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</footer>
    </body>
</html>
